// Заголовки, общие БЄМ блоки и проче...

.title {
  // .title__label
  &__label {
    font-size: rem(12);
    line-height: 2;
    letter-spacing: em(7.5, 12);
    color: $mainTwoColor;
  }
  // .title__value
  &__value {
  }
}
